/* CHATBOX */
.chatbox {
  position: absolute;
  top: 250px;
  right: 50px;
  background-color: none;
 
  
}

.chatbox__support {
  display: flex;
  flex-direction: column;
  background: #eee;
  width: 300px;
  height: 350px;
  z-index:1;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  border-radius: 30px;
  background-color:#d6bcfa;
}

.chatbox--active .chatbox__support {
  opacity: 1;
}

/* BUTTON */
.chatbox__button {
  text-align: right;
}

.send__button {
  padding: 6px;
  background: transparent;
  border: none;
  /* border: 2px solid black !important; */
  outline: none;
  cursor: pointer;
  border-radius: 15px;
  margin-left:15px;
  padding: 5px;

}

.send__button:hover{
  background:rgb(201, 128, 244)!important;
  color: black !important;
}

/* HEADER */
.chatbox__header {
  position: sticky;
  top: 0;
  background-color: #8338ec;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 25px;
}


.chatbox__description--header{
  margin-left:10px;
}

/* MESSAGES */
.chatbox__messages {
  margin-top: auto;
  display: flex;
  overflow-y: scroll;
  flex-direction: column-reverse;
  padding: 0 20px;
  color: rgb(244, 240, 240);;
  background-color:#d6bcfa;
  
}

.chatbox__image--header{
  margin-right:5px;
}

.messages__item {
  margin-top: 10px;
  background:rgb(44, 9, 245);
  padding: 8px 12px;
  max-width: 70%;
 

}


.messages__item--visitor,
.messages__item--typing {
  
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  align-self: flex-end;
 
}

.messages__item--operator {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: var(--primary);
  color  :black;
  background-color: #81e6d9 ;
  align-self: flex-start;
  
  
}
.typing-bubble {
  display: flex;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 5px;

  background-color: #007bff; /* Blue color, you can adjust as needed */
  animation: typing-animation 0.25s infinite alternate; /* Adjust animation duration as needed */
}

@keyframes typing-animation {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0.9;
  }
}



/* FOOTER */
.chatbox__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  background: var(--secondaryGradient);
  box-shadow: var(--secondaryBoxShadow);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #8338ec;

}

.chatbox__footer input {
  width: 80%;
  padding: 10px 10px;
  border-radius: 30px;
  text-align: left;
  border: 2px solid purple;
  background-color: #d6bcfa;
}

input::placeholder{
  color: rgb(170, 127, 187);
}

input:focus{
  border: 1px solid  #d6bcfa;
  color:black;
  outline: none;
}

.chatbox__send--footer {
  color: rgb(18, 1, 26);
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
 

  cursor: pointer;
}

.chatbox_icon {
  width: 70px;
  height: 70px;
 
  margin-right: 10px;
}



.chatbox__header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top:15px;
  padding-bottom:2px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: var(--primaryBoxShadow);
  color:rgb(33, 4, 48);
}

.chatbox__header--footer{
  background-color: #8338ec;
  padding-left:60px;
  padding-right:3px;
  padding-bottom: 7px;
  color: rgb(33, 4, 48);
  ;
}


img{
height:35px;
margin-right: 5px;

}