/* CHATBOX */
.chatbox {
    position: absolute;
    top: 250px;
    right: 50px;
    
  }
  
  .chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    border-radius: 30px;
  }
  
  .chatbox--active .chatbox__support {
    opacity: 1;
  }
  
  /* BUTTON */
  .chatbox__button {
    text-align: right;
  }
  
  .send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  /* HEADER */
  .chatbox__header {
    position: sticky;
    top: 0;
    background: navy;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
.chatbox__content--header{
  font-size: 20px;
  margin-left:10px;
}
  .chatbox__header--footer{
    background-color: navy !important;
    padding-left:20px!important;
  }
  
  /* MESSAGES */
  .chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
    padding: 0 20px;
    color: black;
    background-color: white;
    
  }
  
  .messages__item {
    margin-top: 10px;
    background: #e0e0e0;
    padding: 8px 12px;
    max-width: 70%;
   
  
  }
  
  .messages__item--visitor,
  .messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    align-self: flex-end;
   
  }
  
  .messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: rgb(1, 1, 1);
    background-color: blue;
    align-self: flex-start;
    
    
  }
  
  /* FOOTER */
  .chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(223, 215, 215);

  }
  
  .chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
    background-color: navy;
  }
  
  .chatbox__send--footer {
    color: rgb(6, 5, 5);
  }
  
  .chatbox__button button,
  .chatbox__button button:focus,
  .chatbox__button button:visited {
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    
    cursor: pointer;
  }
  
.chatbox__button {
    width: 90px;
    height: 80px;
    border-radius: 50%;
    
    float:right;
  }
.chatbox__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top:15px;
    padding-bottom:2px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}
  
.chatbox__header--footer{
    background-color: navy;
    padding-left:7px;
    padding-right:3px;
    padding-bottom: 7px;;
}